<% if current_user %>
  <%= form_for(@question) do |f| %>
    <% if @question.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

        <ul>
          <% @question.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <table width="100%">
      <tr>
        <td>
          <div class="field" style="margin:5px">
            <%= f.label :question %><br>
            <%= f.text_area :question, class: 'form-control', rows: 20 %>
          </div>
        </td>
        <td>
          <% if current_user && current_user.super? %>
            <div class="field" style="margin:5px">
              <%= f.label :answer %><br>
              <%= f.text_area :answer , class: 'form-control', rows: 20 %>
            </div>
          <% end %>
        </td>
      </tr>
    </table>
    <div class="actions">
      <%= f.submit '投稿', class: 'btn btn-primary' %>
    </div>
  <% end %>
<% end %>
